---
http_interactions:
- request:
    method: get
    uri: https://api.betterdoctor.com/2016-03-01/doctors?name=Emily%20Huang&user_key=6f2b25f41119e4f726b53f349b8d0542
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"meta\":{\"data_type\":\"array\",\"item_type\":\"Doctor\",\"total\":2,\"count\":2,\"skip\":0,\"limit\":10},\"data\":[{\"practices\":[{\"lat\":47.881833,\"lon\":-122.206808,\"uid\":\"366a879985ee9ddfbd12f96a328353fb\",\"npi\":null,\"name\":\"Emily
        Huang, MD\",\"email\":null,\"insurance_uids\":[\"bridgespan-bridgespanhix\",\"premerabcbs-premeraheritagesignaturehix\",\"premerabcbs-lifewiseconnecthix\",\"medicare-medicare\",\"medicaid-medicaid\",\"gwhcigna-greatwestppo\"],\"visit_address\":{\"city\":\"Everett\",\"lat\":47.881833,\"lon\":-122.206808,\"state\":\"WA\",\"state_long\":\"Washington\",\"street\":\"12728
        Bothell Everett Hwy\",\"street2\":\"Ste 200\",\"zip\":\"98208\"},\"office_hours\":[],\"phones\":[{\"number\":\"4252252700\",\"type\":\"landline\"}],\"languages\":[{\"name\":\"English\",\"code\":\"en\"}],\"doctors_pagination_url\":\"https://api.betterdoctor.com/2016-03-01/practices/366a879985ee9ddfbd12f96a328353fb/doctors\"},{\"lat\":47.97675,\"lon\":-122.21677,\"uid\":\"600ddbd9dacdfc441d404f6955ecb446\",\"npi\":null,\"name\":\"Emily
        Huang, MD\",\"email\":null,\"insurance_uids\":[\"cigna-cignaopenaccessplus\",\"cigna-cignappo\",\"cigna-cignahmo\",\"gwhcigna-greatwestppo\"],\"visit_address\":{\"city\":\"Everett\",\"lat\":47.97675,\"lon\":-122.21677,\"state\":\"WA\",\"state_long\":\"Washington\",\"street\":\"1005
 [...]
