---
http_interactions:
- request:
    method: get
    uri: https://api.betterdoctor.com/2016-03-01/doctors?name=&user_key=6f2b25f41119e4f726b53f349b8d0542
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf-3amCJrBoVL1nKTnUrtvFkA"
    body:
      encoding: UTF-8
      string: '{"meta":{"error":true,"message":"At least one of the request parameters
        ''query'', ''location'', ''name'', ''first_name'', ''last_name'' needs to
        be provided","error_code":1100,"http_status_code":400}}'
  recorded_at: Tue, 04 Oct 2016 19:30:26 GMT
recorded_with: VCR 3.0.3
